@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Коментарии";
}
@section metatags {
    <meta name="description" content="Агенство MMD приглашает на работу веб моделей, вебкам моделей. Здесь вы можете видить отзывы наших моделей." />
}
<div class="container body-content">
    <div style="background-color:white;border-radius:10px;padding-top:30px;padding-left:20px;padding-right:20px;font-size:20px">
        <div class="header-in-comments">
            <h2 class="h2-main-text-header" style="font-weight:bold">ОТЗЫВЫ МОДЕЛЕЙ</h2>
            <h5 class="h5-main-text-header" style="font-size:24px">Агенство <span>MMD</span> за годы работы проявила себя как гарант стабильности и надёжности.</h5>
            <h6 class="h6-main-text-header" style="font-size:19px">Вот несколько историй успеха веб-моделей при работе в нашем агенстве.</h6>
        </div>


        <div class="d-flex flex-wrap">
            <div class="row Where-row  tes">
                <div class="col-md-2 Where-col-md-2">
                    <div class="Div-where-img"><img src="~/Images/PhotoGirl/_1.jpg" alt="Инна" class="img-girl"></div>
                </div>
                <div class="col-md-10">
                    <div><p style="font-size:18px">Мне 20. Узнала об этом бизнесе пол года назад, хотелось попробовать, но мне было страшно, слишком всего много в интернете плохого. Я пришла на работу и думала-поработаю недельку и уйду если не понравиться, здесь никто не держит за руку. Осталась. И продолжу работать. Много появилось друзей- как и девченок так и парней. Люблю эту работу. Здесь я чувствую себя собой, из застенчивой девушки я превратилась в девушку, которая поверила себя, которая себя уважает. Спасибо начальству- помогли адаптироваться!</p></div>
                    <div><span class="span-color-girl-name">Инна</span>, 20 лет</div>
                </div>
            </div>
            <div class="row Where-row tes">
                <div class="col-md-2 Where-col-md-2">
                    <div class="Div-where-img"><img src="~/Images/PhotoGirl/_2.png" alt="Катя" class="img-girl"></div>
                </div>
                <div class="col-md-10">
                    <div><p style="font-size:18px">Мне 22 года. С 2016 года я  модель. Как только закончила 4 курс университета стоял вопрос о высокооплачиваемой работе. Денег в семье особо не было, а хорошо жить хотелось. Официанткой я работать не хотела, а по профессии я бы получала гроши. Предложение о работе получила через интерет, прошла собеседование и начала работать. Было как то не обычно, но я понимала почему я сюда пришла. За 2 года я и заграницу слетала, и маме достроить дом помогла, и английский выучила. Я очень рада, что тогда не побоялась и пошла. Девченки здесь очень хорошие, всегда есть чай и печеньки:)</p></div>
                    <div><span class="span-color-girl-name">Лера</span>, 22 года</div>
                </div>
            </div>
            <div class="row Where-row tes">
                <div class="col-md-2 Where-col-md-2">
                    <div class="Div-where-img"><img src="~/Images/PhotoGirl/_3.png" alt="Настя" class="img-girl"></div>
                </div>
                <div class="col-md-10">
                    <div><p style="font-size:18px">Работаю в веб-сфере больше одного года. Своё агенство считаю вторым домом. Есть практически все для удобства работы и отдыха. Начальство всегда прислушивается к просьбам и желаниям модели. Благодаря своей работе я начала воплощать свои мечты в реальность, а именно : я начала с оригинальной сумочки))</p></div>
                    <div><span class="span-color-girl-name">Настя</span>, 19 лет</div>
                </div>
            </div>
            <div class="row Where-row tes">
                <div class="col-md-2 Where-col-md-2">
                    <div class="Div-where-img"><img src="~/Images/PhotoGirl/_4.jpg" alt="Маша" class="img-girl"></div>
                </div>
                <div class="col-md-10">
                    <div><p style="font-size:18px">Очень удобное место расположение, совсем рядом с центром) я успеваю совмещать учебу и работу тут, но если возникают какие-либо трудности, администраторы лояльно относятся и идут на встречу и всегда войдут в положение) всегда все нужно для работы под рукой. есть длительные перерывы для того, что бы покушать и отдохнуть) нравится, что очень дружный коллектив...всегда все рады помочь друг другу в случае необходимости)</p></div>
                    <div><span class="span-color-girl-name">Маша</span>, 23 год</div>
                </div>
            </div>
            <div class="row Where-row tes">
                <div class="col-md-2 Where-col-md-2">
                    <div class="Div-where-img"><img src="~/Images/PhotoGirl/_5.jpg" alt="Оля" class="img-girl"></div>
                </div>
                <div class="col-md-10">
                    <div><p style="font-size:18px">У нас очень хорошие администраторы! очень дружный колектив и это сильно радует.наши админостраторы всегда приходят на помощь! В нашем агенстве очень комфортно и уютно, что создает благоприятыне условия для хорошей работы.</p></div>
                    <div><span class="span-color-girl-name">Оля</span>, 25 лет</div>
                </div>
            </div>
        </div>


    </div>
</div>
