@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Главная";
}

@section metatags {
    <meta name="description" content="Агенство MMD приглашает на работу веб моделей, вебкам моделей. Работа веб моделью в Одессе. Вебкам модель. Работа веб моделью в Одессе."/>
}
<div class="Index container body-content">
    <div style="background-color:white;border-radius:10px;padding-left:20px;padding-right:20px;padding-bottom:20px;">
        <div class="block-girl row bg-white">
            <div class="text-center m-auto col-xl-8 pb-5">
                <div class="block-girl__mmd-agency mb-4"><h1><span class="block-girl__mmd font-weight-bold">MMD</span> AGENCY</h1></div>
                <div class="block-girl__mmd-agency-info"><span class="block-girl__mmd font-weight-bold">MMD</span> agency - работа для уверенных в себе и целеустремленных девушек, которые мечтают открыть перед собой новые горизонты, мы вместе воплотим ваши мечты в реальность. Мы предлагаем вам  интересную и высокооплачиваемую работу.</div>
            </div>
        </div>
        <div class="block-what-need row mt-5">
            <div class="col-xl-12 text-center tes">
                <div class="block-what-need__become-web-model"><h1>Что необходимо, чтобы стать<br /><span>Web моделью?</span></h1></div>
            </div>
            <div class="block-what-info text-center col-xl-4 mt-5 tes">
                <img class="block-what-info__img" src="~/Images/Icons/talk.jpg" alt="Talk" />
                <div class="mt-5 block-what-info__header"><h1>Коммуникабельность</h1>
                    <p class="mt-5">Ты любишь быть в центре внимания? Умеешь поддерживать разговор на любые темы? Тогда тебе точно к нам!</p>
                </div>
            </div>
            <div class="block-what-info text-center col-xl-4 mt-5 tes">
                <img class="block-what-info__img" src="~/Images/Icons/english.jpg" alt="English" />
                <div class="mt-5 block-what-info__header"><h1>Знание английского</h1>
                    <p class="mt-5"> Знание английского является несомненным преимуществом, однако, если вы не сильны в языке, вам поможет наладить общение с иностранными клиентами специальные программы перевода</p>
                </div>
            </div>
            <div class="block-what-info text-center col-xl-4 mt-5 tes">
                <img class="block-what-info__img" src="~/Images/Icons/monitor.jpg" alt="Monitor" />
                <div class="mt-5 block-what-info__header"><h1>Владение ПК</h1>
                    <p class="mt-5"> Ничего сложного! Ведь ты каждый день пользуешься гаджетами. Начального уровня владения ПК будет достаточно.</p>
                </div>
            </div>
            <div class="block-what-info text-center col-xl-4 mt-5 tes">
                <img class="block-what-info__img" src="~/Images/Icons/makeup.jpg" alt="MakeUp" />
                <div class="mt-5 block-what-info__header"><h1>Привлекательность</h1>
                <p class="mt-5">Внешность важна, но главное - твое умение подать себя!</p></div>
            </div>
            <div class="block-what-info text-center col-xl-4 mt-5 tes">
                <img class="block-what-info__img" src="~/Images/Icons/18-.jpg" alt="18+" />
                <div class="mt-5 block-what-info__header"><h1>Ты старше 18</h1>
                <p class="mt-5">Если тебе еще нет 18, мы будем ждать. тебя после празднования совершеннолетия!</p></div>
            </div>
            <div class="block-what-info text-center col-xl-4 mt-5 tes">
                <img class="block-what-info__img" src="~/Images/Icons/success.jpg" alt="Success" />
                <div class="mt-5 block-what-info__header"><h1>Целеустремленность</h1>
                <p class="mt-5">Только от тебя зависит, уровень твоего заработка, мы же обеспечим лучшие условия для тебя!</p></div>
            </div>
        </div>
        <div class="row">
            <div class="block-proffesion-profitable col-xl-12 text-center">
                <div class="block-proffesion-profitable__header"><h1>ПРИБЫЛЬНА ЛИ ПРОФЕССИЯ ВЕБ-МОДЕЛИ?</h1></div>

                <div class="block-proffesion-profitable__img text-center tes" >
                    <img class="w-75 h-75 mt-4 mb-4" src="~/Images/Index/Img/photo_2021-01-19_13-27-51.jpg" alt="Alternate Text"/>
                </div>
                <p class="block-proffesion-profitable__info">
                    Каждая девушка мечтает о красивой и роскошной жизни , стать финансово независимой и получать высокий доход .Работа веб моделью - это  интересная, творческая работа с гибким графиком позволяющая получать не только очень высокие доходы,  а и быть более уверенной в себе и осуществить все планы и мечты .
                    Если вы уверены в себе и хотите обеспеченой жизни , то наше агентство дает девушкам  уникальную возможность стать независимой и успешной.
                    В работе вебкам моделью цениться ваша харизма, умение быть интересной пользователям и коммуникабельность в общении.  Благодаря вашей целеустремлённости и желанию не просто работать,  а зарабатывать большие деньги вы сможете добиться любых целей!
                </p>
            </div>
        </div>
        <div class="block-info row">
            <div class="col-lg-4 col-md-4 mt-1 mb-1">
                <a href="@Url.Action("Index","Home")" class="block-info__01 text-decoration-none font-weight-bold text-white">
                    <h1>Работа<br />
                        для девушек
                    </h1>
                    <div class="font-weight-normal">
                        Предлагаем нескучную и <br />
                        высокооплачиваемую работу <br />
                        для девушек в центре Одессы <br />
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-md-4 mt-1 mb-1">
                <a href="@Url.Action("FAQ","Home")" class="block-info__02 text-decoration-none font-weight-bold text-white ">
                    <h1>Вопросы и<br />
                    ответы</h1>
                    <div class="font-weight-normal">
                        О профессии модели<br />
                        Объективная информация<br />
                        Полезные советы<br />
                        Честные ответы<br />
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-md-4 mt-1 mb-1">
                <a href="@Url.Action("Contacts","Home")" class="block-info__03 text-decoration-none font-weight-bold text-white">
                    <h1>Где мы находимся<br />
                    и как нас найти</h1>
                    <div class="font-weight-normal">
                        Хорошее расположение агенства <br />
                        Центр города<br />
                        Уютное рабочее место<br />
                        Комфортные условия<br />
                    </div>
                </a>
            </div>
        </div>
        <div class="row tes">
            <div class="col-xl-12">
                <div class="reviews-slides text-center text-white" style="background:url('../../Images/Index/Background/photo-1478760329108-5c3ed9d495a0.jfif');background-size:cover">
                    <div>
                        <div class="text-center">
                            <img src="~/Images/PhotoGirl/_1.jpg" alt="Инна" class="img-girl m-auto">
                            <div class="mt-3"><span class="span-color-girl-name">Инна</span>, 20 лет</div>
                        </div>
                        <div class="text-center mt-3 ml-lg-5 mr-lg-5 ml-md-5 mr-md-5 ml-sm-0 mr-sm-0">
                            <p class="">
                                Мне 20.
                                Узнала об этом бизнесе пол года назад, хотелось попробовать, но мне было страшно, слишком всего много в интернете плохого.
                                Я пришла на работу и думала-поработаю недельку и уйду если не понравиться, здесь никто не держит за руку. Осталась. И продолжу работать.
                                Много появилось друзей- как и девченок так и парней.
                                Люблю эту работу.
                                Здесь я чувствую себя собой, из застенчивой девушки я превратилась в девушку, которая поверила себя, которая себя уважает.
                                Спасибо начальству- помогли адаптироваться!
                            </p>
                        </div>
                    </div>
                    <div>
                        <div class="text-center">
                            <img src="~/Images/PhotoGirl/_2.png" alt="Лера" class="img-girl m-auto">
                            <div class="mt-3"><span class="span-color-girl-name">Лера</span>, 22 года</div>
                        </div>
                        <div class="text-center mt-3 ml-lg-5 mr-lg-5 ml-md-5 mr-md-5 ml-sm-0 mr-sm-0">
                            <p>
                                Мне 22 года.
                                С 2016 года я  модель.
                                Как только закончила 4 курс университета стоял вопрос о высокооплачиваемой работе.
                                Денег в семье особо не было, а хорошо жить хотелось.
                                Официанткой я работать не хотела, а по профессии я бы получала гроши.
                                Предложение о работе получила через интерет, прошла собеседование и начала работать.
                                Было как то не обычно, но я понимала почему я сюда пришла.
                                За 2 года я и заграницу слетала, и маме достроить дом помогла, и английский выучила.
                                Я очень рада, что тогда не побоялась и пошла.
                                Девченки здесь очень хорошие, всегда есть чай и печеньки:)
                            </p>
                        </div>
                    </div>
                    <div>
                        <div class="text-center">
                            <img src="~/Images/PhotoGirl/_3.png" alt="Настя" class="img-girl m-auto">
                            <div class="mt-3"><span class="span-color-girl-name">Настя</span>, 19 лет</div>
                        </div>
                        <div class="text-center mt-3 ml-lg-5 mr-lg-5 ml-md-5 mr-md-5 ml-sm-0 mr-sm-0">
                            <p>
                                Работаю в веб-сфере больше одного года.
                                Своё агенство считаю как вторым домом.
                                Есть практически все для удобства работы и отдыха.
                                Начальство всегда прислушивается к просьбам и желаниям модели.
                                Благодаря своей работе я начала воплощать свои мечты в реальность, а именно : я начала с оригинальной сумочки))
                            </p>
                        </div>
                    </div>
                    <div>
                        <div class="text-center">
                            <img src="~/Images/PhotoGirl/_4.jpg" alt="Маша" class="img-girl m-auto">
                            <div class="mt-3"><span class="span-color-girl-name">Маша</span>, 23 года</div>
                        </div>
                        <div class="text-center mt-3 ml-lg-5 mr-lg-5 ml-md-5 mr-md-5 ml-sm-0 mr-sm-0">
                            <p>
                                Очень удобное место расположение, совсем рядом с центром) я успеваю совмещать учебу и работу тут, но если возникают какие-либо трудности, администраторы лояльно относятся и идут на встречу и всегда войдут в положение) всегда все нужно для работы под рукой.
                                есть длительные перерывы для того, что бы покушать и отдохнуть) нравится, что очень дружный коллектив...всегда все рады помочь друг другу в случае необходимости)
                            </p>
                        </div>
                    </div>
                    <div>
                        <div class="text-center">
                            <img src="~/Images/PhotoGirl/_5.jpg" alt="Оля" class="img-girl m-auto">
                            <div class="mt-3"><span class="span-color-girl-name">Оля</span>, 25 лет</div>
                        </div>
                        <div class="text-center mt-3 ml-lg-5 mr-lg-5 ml-md-5 mr-md-5 ml-sm-0 mr-sm-0">
                            <p class="ml-5 mr-5">
                                У нас очень хорошие администраторы!
                                очень дружный колектив и это сильно радует.
                                наши админостраторы всегда приходят на помощь!
                                в нашем агенстве очень комфортно и уютно, что создает благоприятыне условия для хорошей работы.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script async>
    $(document).ready(function () {

        $('.reviews-slides').slick({
            infinite: true,
            dots: true,
            slidesToShow: 1,
            slidesToScroll: 1
        });
    });
</script>


